<!--
  thirtytwo.html.erb
  Page hosting the 32x32 matrix simulation.
-->
<%
  # Class used for the buttons at the bottom of the page
  btn_class = "btn btn-success mx-1"
%>
<!-- Root Container -->
<div class="d-flex flex-column h-100">
  <!-- Title Bar -->
  <h1 class="bg-primary text-center text-white p-2">
    32x32 Matrix Simulator
  </h1>
  <!-- Matrices -->
  <div class="d-flex justify-content-around flex-fill m-4">
    <%= render partial: 'partials/matrix', locals: {
      name: "Matrix A",
      id: "matrixA",
      height: 32,
      width: 32
    } %>
    <%= render partial: 'partials/matrix', locals: {
      name: "Matrix B",
      id: "matrixB",
      height: 32,
      width: 32
    } %>
    <%= render 'partials/stats-bar' %>
  </div>
  <!-- Algorithms -->
  <div class="d-flex flex-column align-items-stretch">
    <h3 class="bg-secondary text-center text-white p-1">
      Available Algorithms
    </h3>
    <!-- Algorithm Buttons -->
    <div class="d-flex justify-content-center">
      <button class="<%= btn_class %>" id="reset-btn">
        Reset
      </button>
      <button class="<%= btn_class %>" id="naive-btn">
        Naive
      </button>
      <button class="<%= btn_class %>" id="naive-blocked-4-btn">
        Naive Blocked-4
      </button>
      <button class="<%= btn_class %>" id="naive-blocked-8-btn">
        Naive Blocked-8
      </button>
      <button class="<%= btn_class %>" id="deferred-blocked-4-btn">
        Deferred Blocked-4
      </button>
      <button class="<%= btn_class %>" id="deferred-blocked-8-btn">
        Deferred Blocked-8
      </button>
    </div>
  </div>
</div>
