<!--
  simulator.html.erb
  Page hosting matrix simulations.
-->
<%
  # Class used for the algorithm buttons
  algo_btn_class = "btn btn-outline-success col-xl"
  # Class used for the simulation speed buttons
  speed_btn_class = "btn btn-outline-success col-xl"
  # Class used for dropdown buttons
  dropdown_btn_class = "btn btn-secondary dropdown-item"
%>
<!DOCTYPE html>
<html>
  <head>
    <title>Matrix Cache Sim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Root Container -->
    <div class="d-flex col-12 flex-column m-0 p-0">
      <!-- Title Bar -->
      <div class="d-flex col-12 justify-content-between align-items-stretch p-0">
        <!-- Back Button -->
        <%= link_to menu_index_path, class: "btn btn-secondary m-0 v-center" do %>
          <span>< Back</span>
        <% end %>
        <!-- Title -->
        <h1 class="flex-fill bg-primary text-center text-white m-0 p-2">
          <%= @height %>x<%= @width %> Matrix Simulator
        </h1>
        <!-- Dropdown Menu -->
        <div class="dropdown m-0">
          <button class="btn btn-secondary dropdown-toggle h-100"
            id="dropdownMenuButton" data-toggle="dropdown">
            Matrices
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "32x32 Matrix", simulator_thirtytwo_path, class: dropdown_btn_class %>
            <%= link_to "64x64 Matrix", simulator_sixtyfour_path, class: dropdown_btn_class %>
            <%= link_to "63x67 Matrix", simulator_sixtythree_path, class: dropdown_btn_class %>
          </div>
        </div>
      </div>
      <!-- Matrices -->
      <div class="d-xl-flex justify-content-around flex-fill">
        <%= render partial: 'partials/matrix', locals: {
          name: "Matrix A",
          id: "matrixA",
          height: @height,
          width: @width
        } %>
        <%= render partial: 'partials/matrix', locals: {
          name: "Matrix B",
          id: "matrixB",
          height: @width,
          width: @height
        } %>
        <%= render 'partials/stats-bar' %>
      </div>
      <!-- Algorithms & Options -->
      <div class="d-xl-flex py-2">
        <!-- Algorithms -->
        <div class="d-flex flex-fill flex-column align-items-stretch">
          <h3 class="bg-secondary text-center text-white mt-2 p-1">
            Available Algorithms
          </h3>
          <!-- Algorithm Buttons -->
          <div class="d-xl-flex justify-content-center px-2">
            <button class="<%= algo_btn_class %>" id="reset-btn">
              Stop/Reset
            </button>
            <button class="<%= algo_btn_class %>" id="naive-btn">
              Naive
            </button>
            <button class="<%= algo_btn_class %>" id="naive-blocked-4-btn">
              Naive Blocked-4
            </button>
            <button class="<%= algo_btn_class %>" id="naive-blocked-8-btn">
              Naive Blocked-8
            </button>
            <button class="<%= algo_btn_class %>" id="deferred-blocked-4-btn">
              Deferred Blocked-4
            </button>
            <button class="<%= algo_btn_class %>" id="deferred-blocked-8-btn">
              Deferred Blocked-8
            </button>
          </div>
        </div>
        <!-- Options -->
        <div class="d-flex flex-fill flex-column align-items-stretch mt-2">
          <h3 class="bg-secondary text-center text-white p-1">
            Simulation Speed
          </h3>
          <!-- Option Buttons -->
          <div class="d-sm-flex justify-content-center px-2">
            <button class="<%= speed_btn_class %>" id="speed-slowest-btn">
              Slowest
            </button>
            <button class="<%= speed_btn_class %>" id="speed-slow-btn">
              Slow
            </button>
            <button class="btn btn-success" id="speed-normal-btn">
              Normal
            </button>
            <button class="<%= speed_btn_class %>" id="speed-fast-btn">
              Fast
            </button>
            <button class="<%= speed_btn_class %>" id="speed-fastest-btn">
              Fastest
            </button>
          </div>
        </div>
      </div>
      <%= render 'partials/custom-algo' %>
    </div>
    <!-- Hidden elements used to store the matrix's size as part of the page -->
    <div class="d-none" id="matrixA-height"><%= @height %></div>
    <div class="d-none" id="matrixA-width"><%= @width %></div>
  </body>
</html>
